
@import "../../../variables.scss";

.title-container{
    width: 100%; height: 50px;text-align: center;
}
.title{
    padding-top: 10px; font-size: 20px; white-space: nowrap; font-family: $font_family; color:$primary_color;
}


.container-button-unselect{
    width: 100%; text-align: center;
}

.button-unselect{
    float: right;
}

.tree {
    background: $background-second-color;
}

.tree-invisible {
    display: none;
}

.tree ul, .tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
