<div style='width: 100%; height: 90px; background: olivedrab;'>logo</div>
<div style='width: 100%; height: 75px; background: navy;'> input</div>
<div style='width: 100%; height: calc(100% - 215px); background: indianred; overflow-y: scroll;'>
  <div style='width:25%; background:yellow; float: left;'>test</div>
    <app-test style='width:50%; float: left; '></app-test>
   <div style='width:25%; background:black; float: left;'>test</div>
</div>



<!-- <div class="container-fluid h-100" style='background: blue;'>
    <div class='row h-100'>
        <div class="col-12" style='background:red; height: 90px; '>Logo</div>
        <div class="col-12" style='background:yellow; height: 75px;'>input</div>
        <div class="col-12" style='height: calc(100% - 215px); background: rebeccapurple;'>
            <div class="row h-100">
                <div class="col" style='background: sienna;'>test</div>
                <div class="col" style='background: green;'>
                    <app-test></app-test>
                </div>
                <div class="col" style='background: powderblue;'>test</div>
            </div>
        </div>
        <div class="col-12" style='height: 50px;'>button</div>
    </div>

</div> -->