
<div  style='overflow: hidden; height: 100%; width:100%;'>
    <mat-toolbar class='panel-icon' color="primary">
        <img src= 'assets/logo.png' class='logo'>
    </mat-toolbar>
    <app-input class='panel-input'></app-input>
    <div class="panel-container">
        <app-themes class="panel"></app-themes>
        <app-tree-view class="panel panel-tree"></app-tree-view>
        <app-sources class='panel'></app-sources>
    </div>
    <app-configure-button class='panel-button'></app-configure-button>
</div>
